html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 450px;
  height: 60px;
  background: red;
  margin: 5px;
  /* flex-shrink: 0; */
  /* flex-grow: 1; */
  /* flex: 1 0; */
  flex: 1;
}