html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;

  /* align-items: flex-start; padrao */ 
  /* align-items: flex-end; */
  /* align-items: center; */
  /* justify-content: flex-start; padrao */
  /* justify-content: center; */
  /* justify-content: space-around; */

  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.box {
  width: 60px;
  height: 60px;
  background: red;
  margin: 5px;
}