html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex; 
}

.box {
  width: 150px;
  height: 60px;
  background: red;
  margin: 5px;
}

.red {
  order: 1;
}

.green {
  background: lightgreen;
  order: 2;
}

.blue {
  background: blue;
  order: 0;
}